@use "../abstracts" as *;

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include tablet-medium {
    grid-template-columns: repeat(12, 1fr);
  }
}

