@use "../abstracts" as *;

.header {
  padding-block: var(--page-padding-y);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


  &__inner {
    display: flex;
    column-gap: 42px;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    display: none;

    @include tablet-medium {
      display: flex;
    }
  }

  &__button {
    @include less-tablet-medium {
      display: none;
    }
  }

  &__burger {
    flex-shrink: 0;
    width: 22px;
    height: 18px;

    @include tablet-medium {
      display: none;
    }
  }

}
