@use "../abstracts" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  @include tablet-medium {
    position: static;
    height: 100vh;
  }

  &__image {
    width: 42.334dvh;
    height: 38.902dvh;

    @include tablet-medium {
      //width: 38.750vw;
      width: calc(var(--index) * 24);
      height: auto;
      //height: 34.792vw;
    }
  }
}