@use "../abstracts" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__image {
    width: 42.334vh;
    height: 38.902vh;

    @include tablet-medium {
      //width: 38.750vw;
      width: calc(var(--index) * 24);
      height: auto;
      //height: 34.792vw;
    }
  }
}