@use "../abstracts" as *;

.authors {
  padding-top: 17.037vh;
  padding-bottom: 80px;

  @include tablet-medium {
    padding-top: 184px;
    padding-bottom: 150px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 115px;
  }


  &__item-title {
    @include fluid-text(40, 25);
  }
}