@use "../abstracts" as *;

.contacts {
  padding-top: var(--page-padding-top-mobile);

  @include tablet-medium {
    padding-top: var(--page-padding-top-desktop);
  }

  &__grid {
    row-gap: 55px;

    @include tablet-medium {
      row-gap: 0;
    }
  }

  &__body {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    row-gap: fluid(50, 10);
    padding-left: var(--padding-left-mobile);

    @include tablet-medium {
      grid-column: 3 / span 3;
      grid-row: 1 / span 1;
      padding-left: 0;
    }
  }

  &__email {
    @include fluid-text(40, 20);
  }

  &__tel {
    @include fluid-text(30, 15);
    color: var(--color-gray);

    &:hover {
      color: var(--color-dark);
    }
  }

  &__social-links {
    display: flex;
    column-gap: fluid(60, 25);
  }

  &__social-link {
    @include fluid-text(20, 15);
    color: var(--color-gray);
    text-transform: uppercase;

    &:hover {
      color: var(--color-dark);
    }
  }


}