@use "../abstracts" as *;

.authors-filter {
  display: none;
  justify-content: center;
  column-gap: 10px;
  max-width: 900px;
  margin-inline: auto;

  @include tablet-medium {
    display: flex;
  }

  &__btn {
    text-transform: uppercase;
    font-size: fluid(30, 20);
  }
}