@use "../abstracts" as *;

.authors {

  &__grid {
    row-gap: 88px;

    @include tablet-medium {
      row-gap: 0;
    }
  }

  &__list {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-left: var(--padding-left-mobile);

    @include tablet-medium {
      grid-column: 3 / span 3;
      padding-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: fluid(50, 35);

    &-title {
      text-transform: uppercase;
    }
  }

  &__name-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__link {
    @include fluid-text(30, 20);

    @include less-laptop-large {
      font-size: fluid(25, 20);
    }
  }
}