@use "../abstracts" as *;

.authors-filter {
  display: flex;
  justify-content: center;
  column-gap: rem(10);
  max-width: rem(900);
  margin-inline: auto;

  &__btn {
    text-transform: uppercase;
    font-size: rem(30);
  }
}