@use "../abstracts" as *;

.nav {
  width: 100%;
  max-width: 836px;

  &__list {
    display: flex;
    width: 100%;
    column-gap: fluid(85, 8);
    justify-content: space-between;
  }

  &__link {
    @include fluid-text(20, 15)
  }
}