@use "../abstracts" as *;

:root {

  //COLOR
  --color-dark: #000;
  --color-gray: #808080;
  --color-light-gray: #B6B6B6;
  --color-bg: linear-gradient(180deg, #f6f6f6 100%, #cacaca 100%);

  // TYPOGRAPHY
  --font-primary: 'Circe', sans-serif;

  // CONTAINER
  --container-width: 1840px;
  --container-padding-x: #{fluid(20, 15)};

  // SPACING
  --page-padding-y: #{fluid(20, 15)};
  --padding-left-mobile: 33px;
  --page-padding-top-mobile: 115px;
  //--page-padding-top-desktop: 32.407vh;
  --page-padding-top-desktop: 335px;

  // Viewport units fix
  --100vw: 100vw;
  --100vh: 100vh;

  // Utils
  --index: calc(1vw + 1vh);
}



