@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #000;
  --color-gray: #808080;
  --color-light-gray: #B6B6B6;
  --color-bg: linear-gradient(180deg, #f6f6f6 100%, #cacaca 100%);
  --font-primary: "Circe", sans-serif;
  --container-width: 1840px;
  --container-padding-x: clamp(0.9375rem, 0.8501390821rem + 0.347705146vw, 1.25rem);
  --page-padding-y: clamp(0.9375rem, 0.8501390821rem + 0.347705146vw, 1.25rem);
  --padding-left-mobile: 33px;
  --page-padding-top-mobile: 115px;
  --page-padding-top-desktop: 32.407vh;
  --100vw: 100vw;
  --100vh: 100vh;
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: var(--color-bg);
  background-image: url("/poetry-layout/images/noise.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color 0.2s;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

body {
  font-size: clamp(0.9375rem, 0.7627781641rem + 0.6954102921vw, 1.5625rem);
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (width < 1600px) {
  body {
    font-size: clamp(0.9375rem, 0.8501390821rem + 0.347705146vw, 1.25rem);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: clamp(1.5625rem, 1.3004172462rem + 1.0431154381vw, 2.5rem);
}
@media (width < 1600px) {
  h2 {
    font-size: clamp(1.5625rem, 1.3877781641rem + 0.6954102921vw, 2.1875rem);
  }
}

h3 {
  font-size: clamp(1.5625rem, 1.3004172462rem + 1.0431154381vw, 2.5rem);
}
@media (width < 1600px) {
  h3 {
    font-size: clamp(1.5625rem, 1.3877781641rem + 0.6954102921vw, 2.1875rem);
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

ul,
ol {
  padding: 0;
}

li {
  margin-bottom: 0;
}

a {
  font-size: clamp(0.9375rem, 0.8501390821rem + 0.347705146vw, 1.25rem);
  color: var(--color-dark);
  text-decoration: none;
  transition: color 0.2s;
  line-height: 1;
}
a:hover {
  color: var(--color-gray);
}

button {
  font-size: clamp(1.25rem, 1.1626390821rem + 0.347705146vw, 1.5625rem);
  line-height: 1;
  color: var(--color-gray);
}
button:hover {
  color: var(--color-dark);
}

blockquote {
  margin: 0 0 1rem;
  padding-left: 1rem;
  border-left: 3px solid #ccc;
  color: #666;
  font-style: italic;
}

small {
  font-size: 0.875rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (width < 600px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width >= 600px) {
  .visible-mobile {
    display: none !important;
  }
}

.nav {
  width: 100%;
  max-width: 836px;
}
.nav__list {
  display: flex;
  width: 100%;
  column-gap: clamp(0.5rem, -0.8453581363rem + 5.354659249vw, 5.3125rem);
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  font-size: clamp(0.9375rem, 0.8501390821rem + 0.347705146vw, 1.25rem);
}

.btn {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-gray);
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  color: var(--color-dark);
}
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--secondary {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn--sm {
  padding: var(--space-xs) var(--space-md);
  font-size: var(--font-size-sm);
}
.btn--large {
  font-size: clamp(1.5625rem, 1.3877781641rem + 0.6954102921vw, 2.1875rem);
}

.authors-filter {
  display: none;
  justify-content: center;
  column-gap: 10px;
  max-width: 900px;
  margin-inline: auto;
}
@media (width >= 768px) {
  .authors-filter {
    display: flex;
  }
}
.authors-filter__btn {
  text-transform: uppercase;
  font-size: clamp(1.25rem, 1.0752781641rem + 0.6954102921vw, 1.875rem);
}
@media (width < 1600px) {
  .authors-filter__btn {
    font-size: clamp(1.25rem, 1.1626390821rem + 0.347705146vw, 1.5625rem);
  }
}

.authors__grid {
  row-gap: 88px;
}
@media (width >= 768px) {
  .authors__grid {
    row-gap: 0;
  }
}
.authors__list {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-left: var(--padding-left-mobile);
}
@media (width >= 768px) {
  .authors__list {
    grid-column: 3/span 3;
    padding-left: 0;
  }
}
.authors__item {
  display: flex;
  flex-direction: column;
  row-gap: clamp(2.1875rem, 1.9254172462rem + 1.0431154381vw, 3.125rem);
}
.authors__item-title {
  text-transform: uppercase;
}
.authors__name-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.authors__link {
  font-size: clamp(1.25rem, 1.0752781641rem + 0.6954102921vw, 1.875rem);
}
@media (width < 1600px) {
  .authors__link {
    font-size: clamp(1.25rem, 1.1626390821rem + 0.347705146vw, 1.5625rem);
  }
}

.burger-menu {
  display: none;
  position: fixed;
  inset: 0;
  background: var(--color-light-gray);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
@media (width >= 768px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--page-padding-y);
  margin-bottom: 19.451vh;
}
.burger-menu__logo {
  align-self: self-start;
}
.burger-menu__close {
  min-width: 18px;
  min-height: 18px;
  flex-shrink: 0;
}
.burger-menu__list {
  padding-left: var(--padding-left-mobile);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.burger-menu__link {
  font-size: 25px;
}
.burger-menu__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 15px;
}
.burger-menu--open {
  display: block;
  opacity: 1;
  visibility: visible;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: clamp(3.875rem, 3.2984179416rem + 2.2948539638vw, 5.9375rem);
  flex-shrink: 0;
}

.header {
  padding-block: var(--page-padding-y);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__inner {
  display: flex;
  column-gap: 42px;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: none;
}
@media (width >= 768px) {
  .header__nav {
    display: block;
  }
}
@media (width < 768px) {
  .header__button {
    display: none;
  }
}
.header__burger {
  flex-shrink: 0;
  width: 22px;
  height: 18px;
}
@media (width >= 768px) {
  .header__burger {
    display: none;
  }
}

.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: var(--page-padding-y);
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer__item {
  color: var(--color-gray);
}
.footer__item--left {
  display: none;
}
@media (width >= 768px) {
  .footer__item--left {
    display: block;
  }
}
.footer__item--center {
  max-width: 80px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 13.73vh;
  transform: translateX(-50%);
}
@media (width >= 768px) {
  .footer__item--center {
    max-width: none;
    bottom: auto;
  }
}
@media (width >= 768px) {
  .footer__item--right {
    display: none;
  }
}
.footer__item--dark {
  color: var(--color-dark);
}
.footer--abs {
  position: static;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
@media (width >= 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
@media (width >= 768px) {
  .hero {
    position: static;
    height: 100vh;
  }
}
.hero__image {
  width: 42.334dvh;
  height: 38.902dvh;
}
@media (width >= 768px) {
  .hero__image {
    width: calc(var(--index) * 24);
    height: auto;
  }
}

.noise {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.material__grid {
  row-gap: 55px;
}
@media (width >= 768px) {
  .material__grid {
    row-gap: 0;
  }
}
.material__content {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.875rem, 1.3508344924rem + 2.0862308762vw, 3.75rem);
  padding-left: var(--padding-left-mobile);
}
@media (width >= 768px) {
  .material__content {
    grid-column: 3/span 3;
  }
}
.material__title {
  font-size: clamp(1.25rem, 0.9005563282rem + 1.3908205841vw, 2.5rem);
}

.authors {
  padding-top: 17.037vh;
  padding-bottom: 80px;
}
@media (width >= 768px) {
  .authors {
    padding-top: 184px;
    padding-bottom: 150px;
  }
}
.authors__inner {
  display: flex;
  flex-direction: column;
  row-gap: 115px;
}
.authors__item-title {
  font-size: clamp(1.5625rem, 1.3004172462rem + 1.0431154381vw, 2.5rem);
}
@media (width < 1600px) {
  .authors__item-title {
    font-size: clamp(1.25rem, 0.9879172462rem + 1.0431154381vw, 2.1875rem);
  }
}

.author {
  padding-top: var(--page-padding-top-mobile);
}
@media (width >= 768px) {
  .author {
    padding-top: var(--page-padding-top-desktop);
  }
}
.author__grid {
  row-gap: 55px;
}
@media (width >= 768px) {
  .author__grid {
    row-gap: 0;
  }
}
.author__content {
  display: flex;
  flex-direction: column;
  row-gap: clamp(3.125rem, 1.2904207232rem + 7.3018080668vw, 9.6875rem);
  grid-row: 2/span 1;
  grid-column: 1/span 2;
  padding-left: var(--padding-left-mobile);
}
@media (width >= 768px) {
  .author__content {
    grid-column: 3/span 6;
    grid-row: 1;
    row-gap: 4.63vh;
    padding-left: 0;
  }
}
.author__links {
  display: flex;
  column-gap: 82px;
}
@media (width >= 768px) {
  .author__links {
    column-gap: 44px;
  }
}
.author__link {
  color: var(--color-gray);
}
.author__link:hover {
  color: var(--color-dark);
}
.author__material-list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
@media (width >= 768px) {
  .author__material-list {
    row-gap: 40px;
  }
}
.author__material-title {
  font-size: clamp(1.25rem, 0.9704450626rem + 1.1126564673vw, 2.25rem);
}
.author__material-title a {
  font-size: inherit;
}
.author__material-description {
  color: var(--color-gray);
}

.material {
  padding-top: var(--page-padding-top-mobile);
  padding-bottom: 9.375rem;
}
@media (width >= 768px) {
  .material {
    padding-top: var(--page-padding-top-desktop);
  }
}

.search {
  display: none;
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: var(--color-light-gray);
  background-image: url("/poetry-layout/images/bg-image-search.png");
}
.search__inner {
  padding-block: var(--page-padding-y);
}
.search__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: clamp(1.5625rem, 1.1256954103rem + 1.7385257302vw, 3.125rem);
}
.search__input {
  padding-block: clamp(0.625rem, 0.5376390821rem + 0.347705146vw, 0.9375rem);
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  font-size: clamp(1.25rem, 0.7258344924rem + 2.0862308762vw, 3.125rem);
  color: var(--color-dark);
  background-color: transparent;
}
.search__input::placeholder {
  font-size: clamp(1.25rem, 0.7258344924rem + 2.0862308762vw, 3.125rem);
  line-height: 1.2;
}
.search__input:focus {
  outline: none;
}
.search__button {
  color: var(--color-dark);
}
.search__button:hover {
  color: var(--color-gray);
}
.search.is-open {
  display: block;
}

.contacts {
  padding-top: var(--page-padding-top-mobile);
}
@media (width >= 768px) {
  .contacts {
    padding-top: var(--page-padding-top-desktop);
  }
}
.contacts__grid {
  row-gap: 55px;
}
@media (width >= 768px) {
  .contacts__grid {
    row-gap: 0;
  }
}
.contacts__body {
  grid-column: 1/span 3;
  grid-row: 2/span 1;
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, -0.0738873435rem + 2.7816411683vw, 3.125rem);
}
@media (width >= 768px) {
  .contacts__body {
    grid-column: 3/span 3;
    grid-row: 1/span 1;
  }
}
.contacts__email {
  font-size: clamp(1.25rem, 0.9005563282rem + 1.3908205841vw, 2.5rem);
}
.contacts__tel {
  font-size: clamp(0.9375rem, 0.6754172462rem + 1.0431154381vw, 1.875rem);
  color: var(--color-gray);
}
.contacts__tel:hover {
  color: var(--color-dark);
}
.contacts__social-links {
  display: flex;
  column-gap: clamp(1.5625rem, 0.9509735744rem + 2.4339360223vw, 3.75rem);
}
.contacts__social-link {
  font-size: clamp(0.9375rem, 0.8501390821rem + 0.347705146vw, 1.25rem);
  color: var(--color-gray);
  text-transform: uppercase;
}
.contacts__social-link:hover {
  color: var(--color-dark);
}

.about {
  padding-top: var(--page-padding-top-mobile);
  padding-bottom: clamp(5rem, 3.7769471488rem + 4.8678720445vw, 9.375rem);
}
@media (width >= 768px) {
  .about {
    padding-top: var(--page-padding-top-desktop);
  }
}
.about__grid {
  row-gap: 55px;
}
@media (width >= 768px) {
  .about__grid {
    row-gap: 0;
  }
}
.about__title {
  grid-column: 1/span 2;
}
.about__body {
  grid-column: 1/span 2;
  grid-row: 2/span 1;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.25rem, 0.7258344924rem + 2.0862308762vw, 3.125rem);
}
@media (width >= 768px) {
  .about__body {
    grid-column: 3/span 6;
    grid-row: 1/span 1;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.25rem, 0.7258344924rem + 2.0862308762vw, 3.125rem);
}
.about__item-header {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.3125rem, 0.0504172462rem + 1.0431154381vw, 1.25rem);
}
.about__item-title {
  font-size: clamp(1.5625rem, 1.3004172462rem + 1.0431154381vw, 2.5rem);
}
.about__item-post {
  font-size: clamp(0.9375rem, 0.7627781641rem + 0.6954102921vw, 1.5625rem);
  color: var(--color-gray);
}

.releases {
  padding-top: var(--page-padding-top-mobile);
  padding-bottom: clamp(5rem, 3.7769471488rem + 4.8678720445vw, 9.375rem);
}
@media (width >= 768px) {
  .releases {
    padding-top: var(--page-padding-top-desktop);
  }
}
.releases__body {
  grid-column: 3/span 4;
}
.releases__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.3629172462rem + 1.0431154381vw, 1.5625rem);
}
.releases__link {
  font-size: clamp(1.25rem, 1.0403337969rem + 0.8344923505vw, 2rem);
}

/*# sourceMappingURL=main.css.map */
